name: zerocracy
on:
  schedule:
    - cron: '42 * * * *'
  workflow_dispatch:
concurrency:
  group: zerocracy
  cancel-in-progress: false
jobs:
  zerocracy:
    runs-on: ubuntu-24.04
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Judges
        uses: zerocracy/judges-action@0.17.11
        with:
          token: ${{ secrets.ZEROCRACY_TOKEN }}
          github-token: ${{ secrets.ZEROCRACY_PAT }}
          repositories: pksep/autotests
          factbase: autotests.fb

      - name: Generate Pages
        uses: zerocracy/pages-action@0.7.0
        with:
          github-token: ${{ secrets.ZEROCRACY_PAT }}
          factbase: autotests.fb

      - name: Deploy to GH Pages
        uses: JamesIves/github-pages-deploy-action@v4.6.0
        with:
          folder: pages
          clean: false